{% if post.url %}
<a href="{{post.url}}">{{ post.title }}</a><a href="{{url_for('main.site',site_name=url_parse(post.url).netloc)}}">
    ({{url_parse(post.url).netloc}})</a>
{% else %}
<a href="{{url_for('main.postpage',post_id=post.id)}}">{{ post.title }}</a>
{% endif %}
<br>
<a href="{{ url_for('main.user', username=post.post_author.username) }}">&nbsp;&nbsp;&nbsp;
    {{ post.post_author.username }}
</a>
at {{moment(post.timestamp).fromNow()}}
|
{% if current_user.id==post.post_author.id %}
<a href="{{url_for('main.edit_post',post_id=post.id)}}">Edit</a> |
{% endif %}
<span style="text-align: right"><a href="{{url_for('main.postpage',post_id=post.id)}}">Comments</a></span>
