{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% for comment in comments %}

<table class="table table-hover">
    <tr>
        <td> <span>{{loop.index}}. </span>
            <a
                href="{{ url_for('main.user', username=comment.comment_author.username) }}">{{ comment.comment_author.username }}</a>
            at {{moment(comment.timestamp).fromNow()}}, on <a
                href="{{comment.comment_post.url}}">{{ comment.comment_post.title }}</a>
            <br>
            {{ comment.comment }}
            <br>
            {% if current_user.id==comment.comment_author.id %}
            <a href="{{url_for('main.edit_comment',comment_id=comment.id)}}">Edit</a>
            {% endif %}
        </td>
    </tr>
</table>
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}