{% extends "base.html" %}

{% block app_content %}

{#{current_user}#}
{% for post in posts %}
<table class="table table-hover">
    <tr>
        <td>
            <span>{{loop.index}}. </span>
            {% include '_post.html' %}
        </td>
    </tr>
</table>
{% endfor %}

<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}