{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% block include_styles %}
<!-- <style>
    #track {
        border-left: 2px solid gainsboro;
        padding-left: 15px;
    }
</style> -->
{% endblock include_styles %}
{% include '_post.html' %}
{% if post.text %}
<p>{{post.text}}</p>
{% endif %}
<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p>
        {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
        {% endif %}
    </p>
</form>
{#<!-- {% for comment in comments %}
<div>
    <a
        href="{{ url_for('main.user', username=comment.comment_author.username) }}">{{ comment.comment_author.username }}</a>
    at {{moment(comment.timestamp).fromNow()}}, said:
    <br>
    {{ comment.comment }}
    <br>
    <a href="{{url_for('main.reply',comment_id=comment.id)}}">reply</a>
</div>
{% endfor %} -->#}

{% macro render_json(nested_dict) %}

{% for comment_id in nested_dict %}
<div style="margin-left: 3em;" id='track'>
    <table class="table table-hover">
        <tr>
            <td>
                <a href="{{ url_for('main.user',username=nested_dict[comment_id]['username']) }}"> {{nested_dict[comment_id]['username']}} </a>
                at {{moment(nested_dict[comment_id]['timestamp']).fromNow()}}, said:<br><br>
                {{ nested_dict[comment_id]['comment'] }}<br>
                <a href="{{url_for('main.reply',comment_id=comment_id,post_id=nested_dict[comment_id]['post_id'])}}">reply</a>&nbsp;|&nbsp;
                {% if current_user.username==nested_dict[comment_id]['username'] %}
                <a href="{{url_for('main.edit_comment',comment_id=comment_id)}}">Edit</a>
                {% endif %}
                {% if nested_dict[comment_id]['reply'] %}
                {{render_json(nested_dict[comment_id]['reply'])}}
                {% endif %}
            
            </td>
        </tr>
    </table>
</div>
{% endfor %}

{% endmacro %}
{{render_json(nested_dict)}}
{% endblock %}