{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<a href="{{ url_for('main.user', username=comment.comment_author.username) }}">{{ comment.comment_author.username }}</a>
at {{moment(comment.timestamp).fromNow()}} | <a href="{{url_for('main.postpage',post_id=comment.comment_post.id)}}">Parent</a> | on <a
    href="{{comment.comment_post.url}}">{{ comment.comment_post.title }}</a>
<br>
{{ comment.comment }}
<br>

<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p>
        {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
        {% endif %}
    </p>
</form>
{% endblock %}