{% extends "base.html" %}

{% block app_content %}
<table class="table table-hover">
    <tr>
        <td>
            <h1>User: {{ user.username }}</h1>
            <p><a href="{{ url_for('main.edit_profile',username=current_user.username) }}">Edit your profile</a></p>

            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}

        </td>
    </tr>
</table>
{% for post in posts %}
<table class="table table-hover">
    <tr>
        <td>
            <span>{{loop.index}}. </span>
            {% include '_post.html' %}
        </td>
    </tr>
</table>
{% endfor %}

<span>Download your posts </span>
<button type="button" onClick="write_data();">Download</button>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment()}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script type="text/javascript">
    function download_file() {
        $.ajax({
            'url': "{{url_for('background.download')}}",
            'method': 'GET',
            'success': function (data) {
                console.log(data);
            }
        });
    }

    function write_data() {
        $.ajax({
            'url': "{{url_for('background.download')}}",
            'method': 'POST',
            success: function (data, status, request) {
                status_url = request.getResponseHeader('Location');
                update_progress(status_url);
            }
        })
    }

    function update_progress(status_url) {
        // send GET request to status URL
        $.getJSON(status_url, function (data) {
            console.log(data['state'])
            if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                if ('result' in data) {
                    var hidden = document.createElement('a')
                    hidden.setAttribute('href',
                        '{{url_for("background.download_json",username=current_user.username)}}')
                    hidden.setAttribute('download', '')
                    document.body.append(hidden)
                    hidden.click()
                } 
                else {
                    // something unexpected happened
                    // $(status_div.childNodes[3]).text('Result: ' + data['state']);
                }
            } 
            else {
                // rerun in 0.5 seconds
                setTimeout(function () {
                    update_progress(status_url);
                }, 500);
            }
        });
    }
</script>

{% endblock %}